<%- include("header") -%>

	<section id="home-section">
		<h1>Create And View Data</h1>
		<div class="two-btns">
			<a class="btn btn-primary btn-lg" href="/create" role="button">Create</a>
			<a class="btn btn-secondary btn-lg" href="/view" role="button">View</a>
		</div>
	</section>
	</body>

	</html>


	<!-- //Step1:-> npm init then npm i(install) express body-parser-->
	<!-- //Step 2:-> to use EJS we need to create views folder in current directory -->
	<!-- we used JS date Format== toLocaleDateString() -->
	<!-- POST request -->